NET "clk_in"  LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "lcd_e_out"  LOC = "M18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;
NET "lcd_rs_out"  LOC = "L18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;
NET "lcd_rw_out"  LOC = "L17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;
NET "led_out<0>"  LOC = "F12" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<1>"  LOC = "E12" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<2>"  LOC = "E11" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<3>"  LOC = "F11" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<4>"  LOC = "C11" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<5>"  LOC = "D11" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<6>"  LOC = "E9" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "led_out<7>"  LOC = "F9" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "sf_d_out<0>"  LOC = "R15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;
NET "sf_d_out<1>"  LOC = "R16" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;
NET "sf_d_out<2>"  LOC = "P17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;
NET "sf_d_out<3>"  LOC = "M15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ;